{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block title_name %}{% endblock %}
{% block content %}
  <h1>Привет, я автор данного сайта!</h1>
  <div style=margin-left:20px>
    <p>
    <h4> Немного обо мне </h4>
    Зовут меня Артём. Мне 25 лет. <br>
    И в данный момент я учусь на курсе Яндекс-Практикума на Python-разработчика.<br>
    Сейчас я изучаю Django. Это мой первый проект на данном фреймворке.<br>
    Обучение идёт непросто, но очень интересно!<br>
    Уже я научился создавать с нуля небольшой проект. Собственно вы его сейчас и наблюдаете. Но дальше - больше!<br>
    <p>
    <h4>Различные ссылки</h4>
    Github: <a href="https://github.com/MartiArti">https://github.com/MartiArti</a><br>
    Telegram: <a href="https://t.me/MartiArti">https://t.me/MartiArti</a><br>
    Вконтакте: <a href="https://vk.com/a.prokopenk0">https://vk.com/a.prokopenk0</a>
  </div>
{% endblock %}
